.pagination {
  position: absolute;
  top: 920px;
}

.pagination button {
  margin: 3px;
}

.active {
  border-color: var(--button-hover-color);
}

.disabled {
  color: var(--disabled-color);
  background-color: var(--disabled-backgorund-color);
  cursor: not-allowed;
  pointer-events: none;
}
