.container {
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  text-align: center;
  margin: 20px auto;
}

.mainContent {
  display: flex;
  width: 100%;
  position: relative;
  transition: transform 0.3s ease;
}

.mainContent.shifted {
  transform: translateX(-2%);
}

.lightTheme {
  --main-background-color: #d3d3d3;
  --text-color: #242424;
  --input-backgound-color: #fcfcfc;
  --button-background-color: #ffffff;
  --button-hover-color: #1a1a1a;
  --cards-background-color: #f6f6f6;
  --disabled-color: #585858;
  --disabled-backgorund-color: #949494;
}

.darkTheme {
  --main-background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --input-backgound-color: #444242;
  --button-background-color: #1a1a1a;
  --button-hover-color: aliceblue;
  --cards-background-color: #414040;
  --disabled-color: #717171;
  --disabled-backgorund-color: #363535;
}
